<%= render partial: 'layouts/errors' , locals: {object: @task} %>

<%= form_for(@task) do |f| %>
<div>
<%= f.label :description %>
<%= f.text_field :description%>
</div>
<br>
<div class="form-group">
<%= f.label :schedule %>
<%= f.date_field :schedule %>
</div>
<br>

<div class="form-group">
<%= f.label :completion_status %>
<%= f.text_field :completion_status %>
</div>

<br>
<p> Select a Project that already exists</p>
<div class="form-group"> 
<%= f.collection_select :project_id, Project.alpha, :id, :name_and_username, include_blank: 'Select One' %>
</div>
<br>
<p>Or create a <strong> new Project:</strong> </p>
<div class="form-group">
<%= f.fields_for :project do |p|%>
<%= p.label :name %>
<%= p.text_field :name %>
<% end %>
<br>
</div>
<br>
<%= f.submit %>
<% end %>

