<h1>All the Tasks</h1>
<ul>
<% @tasks.each do |task| %>
<li>
  <p><strong>Description:</strong><%= link_to task.description, task_path(task.id)%> - <%= task.project.name %> </p>
  <p>
     <p><strong>Schedule:</strong>
    <%= task.schedule %></p>
  </p>

  <div>
  <p><strong> Completion Status: </strong> <%= task.completion_status %></p>
  </div>
</li>

  <%= link_to 'Show', task_path(task) %>

  <br>
   <% end %>
   
</ol>

