<div class="title-container">
  <h1>All the Tasks</h1>
</div>

<div class="tasks">
<ul>

<% @tasks.each do |task| %>
 <ol start="1">
 <div class="task">
 

  <p><strong>Description: </strong><%= link_to task.description, task_path(task.id)%></p>
 
  <p><strong>Schedule: </strong><%= task.schedule %></p>
  <p><strong> Completion Status: </strong> <%= task.completion_status %></p>
 <p><strong>By: </strong><%=link_to task.user.username, user_path(task.user)%> </p>
 <p></p><strong> Project Name: </strong><u><%= task.project.name %></u></p>
<br>
  <%= link_to 'Show', task_path(task), class: "btn btn-info"  %>
 
 </div>
  </ol> 
  <br>
   <% end %>
  
   


