<h1>Create a new task</h1>
<div>
<%= form_for(@task) do |f| %>

<%= f.label :description %>
<%= f.text_field :description %>
</div>
<br>
<div>
<%= f.label :schedule %>
<%= f.date_field :schedule %>
</div>
<br>

<div>
<%= f.label :completion_status %>
<%= f.text_field :completion_status %>
</div>

<br>
<p> Select a Project that already exists</p>
<div> 
<%= f.collection_select :project_id, Project.all, :id, :name %>
</div>

<p>Or create a new Project: </p>
<div>
<%= f.fields_for :project do |p|%>
<%= p.label :name %>
<%= p.text_field :name %>
<% end %>
<br>
</div>

<%= f.submit %>
<% end %>

 