
<div class "title-container">
<h3>This is your Task's show page </h3>
</div>
<br>
<p>
<strong>Description: </strong>
<%= @task.description %></strong>
</p>

<p>
<strong>Completion Status: </strong>
<%= @task.completion_status%>
</p>

<p>
<strong>Schedule: </strong>
<%= @task.schedule%>
</p>

<p><strong>Project Name: </strong><%= @task.project.name %> </p>
<h5>By: <%=link_to @task.user.username, user_path(@task.user)%> </h5>
<br>
 <%= link_to 'Edit', edit_task_path(@task) %> |

 <%= link_to 'Delete', task_path(@task),method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
 <br>
 <br>
  <%= link_to 'Current Project', project_path%>
 <br>
 <br>
 <%= link_to 'Back to all Tasks', tasks_path, class: "btn btn-info" %>
 


