<h3>This is your Project's show page </h3>

<p>
<strong>Name: </strong>
<%= @project.name %>
</p>

<p>
<strong>Completion Status:</strong>
<%= @project.completion_status%>
</p>


<h4>Tasks:</h4>
<% @project.tasks.each do |task| %>
  <p>
  
    <strong>task:</strong>
    <%= task.description %>
    <%= task.schedule %>
    <%= task.completion_status %>
    <h4>By: <%=link_to task.user.username, user_path(task.user)%> </h4>

  </p>
<% end %>

<div>
<strong><%= link_to "Add a Task", new_project_task_path(@project) %></strong>
</div>
  <br>
  <br>
<%= link_to 'Edit', edit_project_path(@project) %> |

 <%= link_to 'Delete', project_path(@project),method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
 <br>
 <br>
<%= link_to 'Back', projects_path %>
 
